* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: #00afb0;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.hero-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00afb0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1.5s;
    opacity: 0;

}

.hero-content h3 :nth-of-type(2) {
    margin-bottom: 30ox;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.hero-content h3 span {
    color: #ededed;

}

.hero-content p {
    font-size: 16px;
    margin: 20px 0px 40px;
    animation: slideLeft 1s ease forwards;
    opacity: 0;
    animation-delay: 2s;
}

.hero-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00afb0;
    border: 2px solid #00afb0;
    border-radius: 8px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2.5s;
    box-shadow: 0 0 5px #00afb0, 0 0 #00afb0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00afb0;
}

.btn-box a::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ededed;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

#about{
    padding: 80px;
    color: #ededed;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1
{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 80%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #ededed;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px; 
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00afb0;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s;
}

.tab-links.active-link::after{
    width: 50%; 
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    font-size: 16px;
    color: #00afb0;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}